* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: black;
    color: white;
}

h1 {
    background-color: none;
    position: absolute;
}
h2 {
    background-color: none;
    position: absolute;
    top: 50px;
}
a {
    color: white;
    text-decoration: none;
    position: absolute;

}

ol {
    position: absolute;
}

ul {
    position: absolute;

}

.text {
    position: absolute;
    bottom: 0px;
}
.list{
         position: absolute;
    bottom: 0px; 
    right:0px;
}
.image{
 position: absolute;
    bottom: 0px;    
}
img {
    width: 500px;
}
footer{
    position: absolute;
    bottom: 0px;
}
video {
    width: 500px;
}
